<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Flickr Search</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body ng-controller="myCtrl">
	<div> 
		<form name="inputForm" ng-submit="submit()" >

			<h1>Flickr Searcher</h1>
			<input type="text" name="search" placeholder="Enter a tag to search for" ng-model="searchTerm"  required>
			<input type="submit" value="Submit">

		</form>


	</div>	
	<div class="searching" ng-if=submitted>
		<p> Searching Flickr for photos tagged with "{{searchTerm}}"</p>

	</div>
	<div class="results" ng-if=success>
        <h2>We found {{ length }} results for {{ searchTerm }}</h2>
        <div ng-repeat="photo in response">
        	
        	<img src='https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg'>













	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="https://code.angularjs.org/1.2.20/angular-animate.min.js"></script>
	<script src="./myApp.js"></script>
</body>
</html>